<apex:component controller="JJ_SRM_scorecard_controller_view" access="global" allowDML="true" id="ComponentId" >
   <html>
   <head>
   <link rel="stylesheet" href="{!URLFOR($Resource.Scorecard, 'Scorecard/css/bootstrap.css')}" type="text/css"></link>
   <link rel="stylesheet" href="{!URLFOR($Resource.Scorecard, 'Scorecard/css/Custom.css')}" type="text/css"></link>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <style>
   #dvQ1, #dvQ2,#dvQ3,#dvQ4{
float:right;color:black;font-size: 14px;
}  
.kpiTable {
width:100%;

}
.kpiTable tr td{
width:50%;
}
.scorecardquad .sub-heading{
      color: navy;
    font-size: 17px;
        margin-top: 3px;
            padding-left: 6px;
      }
      @media (min-width: 992px){
.scorecardquad .content-body > .first {
    border-bottom: 2px solid black;
    border-top: 1px solid navy;
}
}
@media (min-width: 992px){
.scorecardquad .content-body .quad2, .scorecardquad .content-body .quad4 {
    border-left: 2px solid black;
}
}
.scorecardquad .content-body .quad1, .scorecardquad .content-body .quad2, .scorecardquad .content-body .quad3, .scorecardquad .content-body .quad4 {
    height: 341px;
}
   </style>
   </head>
   <body> 
   <apex:attribute name="CompScorecardID" type="Id" description="Id of the Score" assignTo="{!ScoreCardId}"/>
   <apex:attribute name="DisplayButton" type="Boolean" description="Id of the Score"/>
   {!ScoreCard}
   <div class="container-fluid">
   <div class="row" >
   <h3 class="titleStyle">{!Card.Name} </h3>
      <hr/>
      <div class="content-body">
         <div class="col-md-4">
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_SupplierName} "/>
             </div>
             <div class="col-md-7">
               <apex:outputlink value="/{!Supplier.Id}" id="SupplierLink" target="_blank">{!Supplier.Name}</apex:outputLink>
             </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_SRMName}"/>
                </div>
             <div class="col-md-7">
               <apex:OutputField value="{!Supplier.Owner.Name}"/>
               </div>
            </div>
         </div>
         <div class="col-md-4" >
           <div class="form-group row">
            <div class="col-md-5 content-label">
               
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_SupplierContactName} "/>
                </div>
             <div class="col-md-7">
               
               <apex:OutputField value="{!Supplier.Supplier_Key_Contact__r.name}"/>
               </div>
            </div>
         </div>      
           <div class="col-md-4" >
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_Category} "/>
                </div>
             <div class="col-md-7">
               <apex:OutputField value="{!Supplier.Primary_Category__c}"/></div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="form-group row">
            <div class="col-md-5 content-label">

               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_SRMEmail} "/>
                </div>
             <div class="col-md-7">

               <apex:OutputField value="{!Supplier.Owner.Email}"/>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_SupplierContactEmail} "/>
                </div>
             <div class="col-md-7">
               <apex:OutputField value="{!Supplier.Supplier_Key_Contact__r.Email}"/>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row scorecardinfo">
         <hr/>
      <div class="content-body">
         <div class="col-md-4">
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_Status} "/>
                </div>
             <div class="col-md-7">
               <apex:outputField value="{!Card.Status__c}" id="CardStatus"/></div>
            </div>
         </div>
         <div class="col-md-4">
           <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_FromDate} "/>
                </div>
             <div class="col-md-7">
               <apex:outputField value="{!Card.From__c}" id="CardForm"/></div>
            </div>
         </div>
         
         <div class="col-md-4">
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_OverallRAG}"/>
                </div>
           <div class="col-md-7" style="margin-top:-7px">
                 <apex:image style="margin-right: 20px;" rendered="{!IF(Card.Overall_RAG__c ='Red',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Red_Indicator_Logo_ID}" width="75" height="37" ></apex:image>
                  <apex:image style="margin-right: 20px;" rendered="{!IF(Card.Overall_RAG__c ='Amber',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Amber_Indicator_Logo_ID}" width="75" height="45" ></apex:image>
                  <apex:image style="margin-right: 20px;" rendered="{!IF(Card.Overall_RAG__c ='Green',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Green_Indicator_Logo_ID}" width="75" height="38" ></apex:image>
            </div>
            </div>
         </div>
          <div class="col-md-4">
           <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_GeneratedDate} "/>
                </div>
             <div class="col-md-7">
               <apex:outputField value="{!Card.CreatedDate}" id="CreatedDate"/></div>
            </div>
         </div>
         <div class="col-md-4">
<div class="form-group row">
            <div class="col-md-5 content-label">            
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_ToDate} "/>
                </div>
             <div class="col-md-7">
               <apex:outputField value="{!Card.To__c}" id="CardTo"/></div>
            </div>
         </div>
         
                  <div class="col-md-4">
     
         </div>
         <div class="col-md-12 first-summary">
          <div class="form-group summary-talign row">
            <div class="content-label">
              
                  <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_RelationshipSummary} "  />
                   </div>
             <div class="col-md-10 summary-value">
                  <apex:outputField value="{!Card.Relationship_Summary__c}" id="RelationshipSummary"/></div>
               </div>
            
         </div>
      </div>
   </div>
   <div class="row scorecardquad">
      <div class="content-body">
         <div class="first" >
         <div class="row">
            <div class="col-md-6 quad1" >
            <div class="row">
               <div class="sub-heading" >
                  <apex:outputLabel value="{!$Label.ScoreCardQuadrant1}"/>
                  <div style="float:right" id="dvQ1">
                 <apex:image style="margin-right: 20px;" rendered="{!IF(Card.RAG_Quadrant_1__c ='Red',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Red_Indicator_Logo_ID}" width="75" height="37" ></apex:image>
                  <apex:image style="margin-right: 20px;" rendered="{!IF(Card.RAG_Quadrant_1__c ='Amber',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Amber_Indicator_Logo_ID}" width="75" height="45" ></apex:image>
                  <apex:image style="margin-right: 20px;" rendered="{!IF(Card.RAG_Quadrant_1__c ='Green',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Green_Indicator_Logo_ID}" width="75" height="38" ></apex:image>                  
                  </div>
               </div>
               
                  </div>
               <div class="summary-talign">
                  <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_Summary} "  />
                  <br/>
                  <apex:outputField value="{!Card.Summary_Quadrant1__c}" id="SummaryQ1"/>
               </div>
               <div>
               <br/>
               
               <table class="kpiTable">  
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_KPIs} "/>   
               <tr>       
               <apex:variable var="Qi" value="{!0}"/>
               <td>
               
               <apex:repeat value="{!selectedKPIsQ1}" var="string" id="theRepeat1">
                 
                  <apex:variable var="Qi" value="{!Qi+1}"/>  
                 
                  <apex:outputText style="display:list-item;list-style:disc inside;padding:0 0 0 0px;margin:0;"  value="{!string}" id="theValue1" rendered="{!IF((mod(Qi,2)) == 1,true,false)}"></apex:outputText>
                                 
                  
               </apex:repeat>
               </td>
               <td>
                <apex:variable var="Qi" value="{!0}"/>
               
               <apex:repeat value="{!selectedKPIsQ1}" var="string" id="theRepeat12">
                 
                  <apex:variable var="Qi" value="{!Qi+1}"/>  
                 
                                 
                  <apex:outputText style="display:list-item;list-style:disc inside;padding:0 0 0 0px;margin:0;" value="{!string}" id="theValue2" rendered="{!IF((mod(Qi,2)) == 0,true,false)}"></apex:outputText>                
                  
               </apex:repeat>
               </td>
               </tr>
            </table>
            <br/>
               </div>
           
            </div>
            <div class="col-md-6 quad2">
            <div class="row">
               <div class="sub-heading"  >
   
                  <apex:outputLabel value="{!$Label.ScoreCardQuadrant2}"/>
                  <div id="dvQ2">
                   <apex:image style="margin-right: 20px;" rendered="{!IF(Card.RAG_Quadrant_2__c ='Red',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Red_Indicator_Logo_ID}" width="75" height="37" ></apex:image>
                  <apex:image style="margin-right: 20px;" rendered="{!IF(Card.RAG_Quadrant_2__c ='Amber',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Amber_Indicator_Logo_ID}" width="75" height="45" ></apex:image>
                  <apex:image style="margin-right: 20px;" rendered="{!IF(Card.RAG_Quadrant_2__c ='Green',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Green_Indicator_Logo_ID}" width="75" height="38" ></apex:image>             
                  </div>
               </div>
               
                  </div>
               <div class="summary-talign" >                  
                  <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_Summary} "  />
                  <br/>
                  <apex:outputField value="{!Card.Summary_Quadrant2__c}" id="SummaryQ2"/>
               </div>
               <br/>
               
               <table class="kpiTable">  
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_KPIs} "/>   
               <tr>       
               <apex:variable var="Q2i" value="{!0}"/>
               <td>
               
               <apex:repeat value="{!selectedKPIsQ2}" var="string" id="theRepeat2">
                 
                  <apex:variable var="Q2i" value="{!Q2i+1}"/>  
                 
                  <apex:outputText style="display:list-item;list-style:disc inside;padding:0 0 0 0px;margin:0;" value="{!string}" id="theValue1" rendered="{!IF((mod(Q2i,2)) == 1,true,false)}"></apex:outputText>
                                 
                  
               </apex:repeat>
               </td>
               <td >
                <apex:variable var="Q2i" value="{!0}"/>
               
               <apex:repeat value="{!selectedKPIsQ2}" var="string" id="theRepeat22">
                 
                  <apex:variable var="Q2i" value="{!Q2i+1}"/>  
                 
                                 
                  <apex:outputText style="display:list-item;list-style:disc inside;padding:0 0 0 0px;margin:0;" value="{!string}" id="theValue2" rendered="{!IF((mod(Q2i,2)) == 0,true,false)}"></apex:outputText>                
                  
               </apex:repeat>
               </td>
               </tr>
            </table>
               <br/>
            </div>
         </div>
         </div>
         <div class="row">
            <div class="col-md-6 quad3" >
            <div class="row">
             
               <div class="sub-heading" >

                  <apex:outputLabel value="{!$Label.ScoreCardQuadrant3}"/>
                  <div id="dvQ3">
                   <apex:image style="margin-right: 20px;" rendered="{!IF(Card.RAG_Quadrant_3__c ='Red',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Red_Indicator_Logo_ID}" width="75" height="37"  ></apex:image>
                  <apex:image style="margin-right: 20px;" rendered="{!IF(Card.RAG_Quadrant_3__c ='Amber',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Amber_Indicator_Logo_ID}" width="75" height="45" ></apex:image>
                  <apex:image style="margin-right: 20px;" rendered="{!IF(Card.RAG_Quadrant_3__c ='Green',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Green_Indicator_Logo_ID}" width="75" height="38" ></apex:image>            
                  </div>
               </div>
                
                  </div>
               <div class="summary-talign">
                   
                  <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_Summary} " />
                  <br/>
                  <apex:outputField value="{!Card.Summary_Quadrant3__c}" id="SummaryQ3"/>
               </div>
               <br/>
                <table class="kpiTable">  
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_KPIs} "/>   
               <tr>       
               <apex:variable var="Q3i" value="{!0}"/>
               <td >
               
               <apex:repeat value="{!selectedKPIsQ3}" var="string" id="theRepeat3">
                 
                  <apex:variable var="Q3i" value="{!Q3i+1}"/>  
                 
                  <apex:outputText style="display:list-item;list-style:disc inside;padding:0 0 0 0px;margin:0;" value="{!string}" id="theValue1" rendered="{!IF((mod(Q3i,2)) == 1,true,false)}"></apex:outputText>
                                 
                  
               </apex:repeat>
               </td>
               <td>
                <apex:variable var="Q3i" value="{!0}"/>
                
               <apex:repeat value="{!selectedKPIsQ3}" var="string" id="theRepeat32">
                 
                  <apex:variable var="Q3i" value="{!Q3i+1}"/>  
                 
                                 
                  <apex:outputText style="display:list-item;list-style:disc inside;padding:0 0 0 0px;margin:0;" value="{!string}" id="theValue2" rendered="{!IF((mod(Q3i,2)) == 0,true,false)}"></apex:outputText>                
                  
               </apex:repeat>
               </td>
               </tr>
            </table>
               <br/>
            </div>
            <div class="col-md-6 quad4">
            <div class="row">
            
               <div class="sub-heading" >
                  <apex:outputLabel value="{!$Label.ScoreCardQuadrant4}"/>
                  <div id="dvQ4">     
                  <apex:image style="margin-right: 20px;" rendered="{!IF(Card.RAG_Quadrant_4__c ='Red',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Red_Indicator_Logo_ID}" width="75" height="37" ></apex:image>
                  <apex:image style="margin-right: 20px;" rendered="{!IF(Card.RAG_Quadrant_4__c ='Amber',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Amber_Indicator_Logo_ID}" width="75" height="45" ></apex:image>
                  <apex:image style="margin-right: 20px;" rendered="{!IF(Card.RAG_Quadrant_4__c ='Green',true,false)}" url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Green_Indicator_Logo_ID}" width="75" height="38" ></apex:image>                        
                  </div>
               </div>
                
                  </div>
               <div class="summary-talign">

                  <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_Summary} " />
                  <br/>
                  <apex:outputField value="{!Card.Summary_Quadrant4__c}" id="SummaryQ4"/>
               </div>
               <br/>
                <table class="kpiTable">  
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_KPIs} "/>   
               <tr>       
               <apex:variable var="Q4i" value="{!0}"/>
               <td>
               
               <apex:repeat value="{!selectedKPIsQ4}" var="string" id="theRepeat4">
                 
                  <apex:variable var="Q4i" value="{!Q4i+1}"/>  
                 
                  <apex:outputText style="display:list-item;list-style:disc inside;padding:0 0 0 0px;margin:0;" value="{!string}" id="theValue1" rendered="{!IF((mod(Q4i,2)) == 1,true,false)}"></apex:outputText>
                                 
                  
               </apex:repeat>
               </td>
               <td>
                
                <apex:variable var="Q4i" value="{!0}"/>
               <apex:repeat value="{!selectedKPIsQ4}" var="string" id="theRepeat42">
                 
                  <apex:variable var="Q4i" value="{!Q4i+1}"/>  
                 
                                 
                  <apex:outputText style="display:list-item;list-style:disc inside;padding:0 0 0 0px;margin:0;" value="{!string}" id="theValue2" rendered="{!IF((mod(Q4i,2)) == 0,true,false)}"></apex:outputText>                
                  
               </apex:repeat>
               </td>
               </tr>
            </table>
               <br/>
            </div>
         </div>
      </div>
   </div>
   </div>   
   </body>
   </html>
</apex:component>