<apex:page >
<style>
    body{
font-family:Arial, Helvetica, sans-serif; 
font-size:13px;
}
.info, .success, .warning, .error, .validation {
border: 0px solid;
margin: 0px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.error {
color: #D8000C;
background-color: white;
background-image: url({!URLFOR($Resource.Scorecard,'Scorecard/images/Error.png')});
background-size: 25px 25px;
}
</style>
<div class="error">
  {!$Label.Insufficient_Error_Page_Message}</div>

</apex:page>