<apex:page standardcontroller="Score_Card__c" extensions="JJ_SRM_scorecard_controller_edit" standardStylesheets="true" sidebar="false" action="{!RedirectView}">
    <apex:form >
   <html>
   <link rel="stylesheet" href="{!URLFOR($Resource.Scorecard, 'Scorecard/css/bootstrap.css')}" type="text/css"></link>
   <link rel="stylesheet" href="{!URLFOR($Resource.Scorecard, 'Scorecard/css/Custom_Edit.css')}" type="text/css"></link>
   <script src="{!URLFOR($Resource.Scorecard, 'Scorecard/js/ScorecardJS.js')}"></script> 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
   <head>

   
   </head>
   <body>
   <div class="container-fluid">
   <div align="center" draggable="false" >
   <hr/>
   <apex:commandButton action="{!saveScoreCard}" id="SaveButton1" styleClass="btn" style="text-decoration:none;padding:4px;" value="Save" reRender="showmsgFrom,showmsgTo,showmsgTitle"/>
                     <apex:outputlink value="/{!AccountId}" styleClass="btn" style="text-decoration:none;padding:4px;" id="CancelButton1">Cancel</apex:outputLink>                        
                     </div>
            <!--         <apex:image url="/servlet/servlet.FileDownload?file={!$Label.JJ_SRM_Legend_Document_ID}" width="150" height="50" style="float:right;margin-top:-35px;"></apex:image> -->
                     <div class="row">
                     <apex:outputPanel id="showmsgFrom" styleclass="error"><apex:image url="{!URLFOR($Resource.Scorecard,'Scorecard/images/Error.png')}" rendered="{!IF(FromdateError ='',false,true)}" width="20" height="20"/>&nbsp;{!FromdateError}&nbsp;</apex:outputPanel>
      <apex:outputPanel id="showmsgTo" styleclass="error"><apex:image url="{!URLFOR($Resource.Scorecard,'Scorecard/images/Error.png')}" rendered="{!IF(TodateError ='',false,true)}" width="20" height="20"/>&nbsp;{!TodateError}&nbsp;</apex:outputPanel>
      <apex:outputPanel id="showmsgTitle" styleclass="error"><apex:image url="{!URLFOR($Resource.Scorecard,'Scorecard/images/Error.png')}" rendered="{!IF(TitleError ='',false,true)}" width="20" height="20"/>&nbsp;{!TitleError}&nbsp;</apex:outputPanel> 
         <br/> <br/>
  <div class="col-md-4">
    <div class="form-group row">
            
            <div class="col-md-5 content-label"><label>
{!$Label.JJ_SRM_ScoreCard_Title} </label><apex:outputLabel id="titlespan" value="*" style="color:Red;"/>
                </div>
        
             <div class="col-md-7"> <apex:inputField value="{!Card.Name}" id="Title"/></div>
            </div>
  </div>
</div>
   <div class="row" >
<!--      <div style="background-color: #B41601;#fff;color:white;margin-bottom:5px" class="content-heading"><label>&nbsp;&nbsp;Supplier Information</label></div>-->     
      <div class="content-body">   
<div class="col-md-4">
            <div class="form-group row"> 
            <div class="col-md-5 content-label">          
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_SupplierName}"/>
                </div>
             <div class="col-md-7">
               <apex:outputlink value="/{!Supplier.Id}" id="SupplierLink" target="_blank">{!Supplier.Name}</apex:outputLink></div>
            </div>
         </div>
         
         <div class="col-md-4">
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_SRMName} "/>
                </div>
             <div class="col-md-7">
               <apex:OutputField value="{!Supplier.Owner.Name}"/></div>
            </div>
         </div>
          <div class="col-md-4" >
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_SupplierContactName} "/>
                </div>
             <div class="col-md-7">
               <apex:OutputField value="{!Supplier.Supplier_Key_Contact__r.name}"/></div>
            </div>
         </div>
         <div class="col-md-4" >
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_Category} "/>
                </div>
             <div class="col-md-7">
               <apex:OutputField value="{!Supplier.Primary_Category__c}"/></div>
            </div>
         </div>
         <div class="col-md-4" >
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_SRMEmail} "/>
                </div>
             <div class="col-md-7">
               <apex:OutputField value="{!Supplier.Owner.Email}"/></div>
            </div>
         </div>
                 
         <div class="col-md-4">
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_SupplierContactEmail} "/>
                </div>
             <div class="col-md-7">
               <apex:OutputField value="{!Supplier.Supplier_Key_Contact__r.Email}"/></div>
            </div>
         </div>
      </div>
   </div>
   <div class="row scorecardinfo">
        <!-- <div style="background-color: #B41601;#fff;color:white;margin-bottom:5px" class="content-heading"><label>&nbsp;&nbsp;Score Card Information</label></div>-->
         
         
        
      <div class="content-body">  
         <div class="col-md-4">
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_Status} "/>
                </div>
             <div class="col-md-7">
               <apex:inputField value="{!Card.Status__c}" id="CardStatus"/></div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="form-group row">
            <div class="col-md-5 content-label">
              <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_FromDate} "/><apex:outputLabel id="frmspan" value="*" style="color:Red;"/>
               </div>
             <div class="col-md-7">
                     <apex:inputField value="{!Card.From__c}" id="CardForm"/></div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_OverallRAG} "/>
                </div>
             <div class="col-md-7">
                     <apex:inputField value="{!Card.Overall_RAG__c}" id="OverallScore"/></div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_GeneratedDate} "/>              
                </div>
             <div class="col-md-7">
                     <apex:inputField value="{!Card.CreatedDate}" id="CreatedDate"/></div>
            </div>
         </div>
         
         <!-- <div class="col-md-4">
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="Potential Total Score "/>
                </div>
             <div class="col-md-7">
                     <apex:inputField value="{!Card.Potential_Total_Score__c}" id="PotentialTotalScore"/></div>
            </div>
         </div> -->
         <div class="col-md-4">
            <div class="form-group row">
            <div class="col-md-5 content-label">
               <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_ToDate} "/>
               <apex:outputLabel id="tospan" value="*" style="color:Red"/>
                </div>
             <div class="col-md-7">
                     <apex:InputField value="{!Card.To__c}" id="CardTo"/></div>
            </div>
         </div>
        <div class="col-md-12 first-summary">
          <div class="form-group summary-talign row">
            <div class="content-label">
               
                  <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_RelationshipSummary} "/>
               </div>
             <div class="col-md-10 summary-value">
                        <apex:inputField value="{!Card.Relationship_Summary__c}" id="RelationshipSummary" style="width:100%;resize:none;" onkeydown="BluronEnter('{!$Component.RelationshipSummary}')"/></div>            
               
            </div>
         </div>
      </div>
      
   </div>
   <hr/>
   <div class="row scorecardquad">
   <!--<div style="background-color: #B41601;#fff;color:white;margin-bottom:5px" class="content-heading"><label>&nbsp;&nbsp;Score Card Quadrants</label></div>-->
      <div class="content-body">
         <div class="first">
         <div class="row">
            <div class="col-md-6 quad1">
               <div class="sub-heading">
                   <br/>
                  <apex:outputLabel value="{!$Label.ScoreCardQuadrant1}"/>
                  <div id="dvQ1" style="">
                  <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_RAG} "/>&nbsp;
                  <apex:InputField value="{!Card.RAG_Quadrant_1__c}" id="RAGQ1"/>&nbsp;
                  </div>
                  <br/>
               </div>
               <div class="summary-talign">
                  
                  <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_Summary} "/>
                  <br/>
                  <apex:InputField value="{!Card.Summary_Quadrant1__c}" id="SummaryQ1" style="width:100%;resize:none;" onkeydown="BluronEnter('{!$Component.SummaryQ1}')"/>
               </div>   
               <br/>
               <div style="overflow: scroll; height: 200px;" class="pageblock">
               <apex:pageBlock id="Q1pageBlock"> 
               <apex:pageBlockTable id="Q1pageBlockTable" value="{!mapQuadrant[$Label.ScoreCardQuadrant1]}" var="Wrapper">
           
                   <apex:column value="{!Wrapper.MasterName}" headerValue="{!$Label.JJ_SRM_ScoreCard_KPIName}" styleClass="ZeroBorder ThCSS" headerClass="Headerstyle"/>
                    <apex:column headerValue="{!$Label.JJ_SRM_ScoreCard_Select}" styleClass="ZeroBorder" headerClass="Headerstyle">
                    <apex:facet name="header">
                        <apex:outputpanel >
                        <apex:inputCheckbox rendered="{!DisplaySelectAllQ1}" id="Quadrant1checkAll" onclick="selectAllCheckboxes(this,'Quadrant1check')" styleClass="ZeroBorder1All" style="margin-right:10px;"/>
                        <apex:outputLabel rendered="{!DisplaySelectAllQ1}">{!$Label.JJ_SRM_ScoreCard_Select_All}</apex:outputLabel>
                        <apex:outputLabel rendered="{!IF(DisplaySelectAllQ1 = true,false,true)}">{!$Label.JJ_SRM_ScoreCard_Select}</apex:outputLabel>
                        </apex:outputpanel>
                    </apex:facet>
                    <apex:inputCheckbox id="Quadrant1check" styleClass="ZeroBorder1" value="{!Wrapper.SelectedKPI}"/>
                    </apex:column>
                   <apex:column headerValue="{!$Label.JJ_SRM_ScoreCard_RAG}" styleClass="ZeroBorder" headerClass="Headerstyle">
                   <apex:selectList value="{!Wrapper.selectedRAG}" multiselect="false" size="1" >
                            <apex:selectOptions value="{!Wrapper.RAGscore}"></apex:selectOptions>
                        </apex:selectList>   
                   </apex:column>
                   <apex:column headerValue="{!$Label.JJ_SRM_ScoreCard_Scores}" styleClass="ZeroBorder" headerClass="Headerstyle">
                   <apex:commandLink style="text-decoration: underline;" onclick="OpenPreviewPopUp('JJ_SRM_SupplierKPIScorePopup?name={!Wrapper.EncodedMasterName}');" value="View Scores" reRender="none"/>
                   </apex:column>
               </apex:pageBlockTable>
               </apex:pageBlock>
               </div>
               <br/>
            </div>
            <div class="col-md-6 quad2">
               <div class="sub-heading">
                   <br/>
                  <apex:outputLabel value="{!$Label.ScoreCardQuadrant2}"/>
                  <div id="dvQ2" style="float:right;color:black">
                  <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_RAG} "/>&nbsp;
                  <apex:InputField value="{!Card.RAG_Quadrant_2__c}" id="RAGQ2"/>&nbsp;
                  </div>
               </div>
                <div class="summary-talign">
                  
               </div>
               <div class="summary-talign" style="width: 100%;float: right;">
                  <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_Summary} "/>
                  <br/>
                  <apex:InputField value="{!Card.Summary_Quadrant2__c}" id="SummaryQ2" style="width:100%;resize:none;" onkeydown="BluronEnter('{!$Component.SummaryQ2}')"/>
                 <br/>
                 <br/>
               <div style="overflow: scroll; height: 200px;" class="pageblock">    
               <apex:pageBlock >          
               <apex:pageBlockTable value="{!mapQuadrant[$Label.ScoreCardQuadrant2]}" var="Wrapper">
                   <apex:column value="{!Wrapper.MasterName}" headerValue="{!$Label.JJ_SRM_ScoreCard_KPIName}" styleClass="ZeroBorder ThCSS" headerClass="Headerstyle"/>
                   <apex:column headerValue="{!$Label.JJ_SRM_ScoreCard_Select}" styleClass="ZeroBorder" headerClass="Headerstyle">
                   <apex:facet name="header">
                        <apex:outputpanel >
                        <apex:inputCheckbox rendered="{!DisplaySelectAllQ2}" id="Quadrant2checkAll" onclick="selectAllCheckboxes(this,'Quadrant2check')" styleClass="ZeroBorder2All" style="margin-right:10px;"/>
                        <apex:outputLabel rendered="{!DisplaySelectAllQ2}">{!$Label.JJ_SRM_ScoreCard_Select_All}</apex:outputLabel>
                        <apex:outputLabel rendered="{!IF(DisplaySelectAllQ2 = true,false,true)}">{!$Label.JJ_SRM_ScoreCard_Select}</apex:outputLabel>
                        </apex:outputpanel>
                    </apex:facet>
                       <apex:inputCheckbox id="Quadrant2check" styleClass="ZeroBorder2" value="{!Wrapper.SelectedKPI}"/>
                   </apex:column>

                   <apex:column headerValue="{!$Label.JJ_SRM_ScoreCard_RAG}" styleClass="ZeroBorder" headerClass="Headerstyle">
                   <apex:selectList value="{!Wrapper.selectedRAG}" multiselect="false" size="1" >
                            <apex:selectOptions value="{!Wrapper.RAGscore}"></apex:selectOptions>
                        </apex:selectList>   
                   </apex:column>
                   <apex:column headerValue="{!$Label.JJ_SRM_ScoreCard_Scores}" styleClass="ZeroBorder" headerClass="Headerstyle">
                   <apex:commandLink style="text-decoration: underline;" onclick="OpenPreviewPopUp('JJ_SRM_SupplierKPIScorePopup?name={!Wrapper.EncodedMasterName}');" value="View Scores" reRender="none"/>
                   </apex:column>
               </apex:pageBlockTable>
               </apex:pageBlock>
               </div>
               <br/>
               </div>
               
            </div></div>
         </div>
         <div class="row">
            <div class="col-md-6 quad3">
               <div class="sub-heading">
                   <br/>
                  <apex:outputLabel value="{!$Label.ScoreCardQuadrant3}"/>
                  <div id="dvQ3" style="float:right;color:black">
                  <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_RAG} "/>&nbsp;
                  <apex:InputField value="{!Card.RAG_Quadrant_3__c}" id="RAGQ3"/>&nbsp;
                  </div>
               </div>
               <div class="summary-talign">
                  
               </div>
               <div class="summary-talign">
                  <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_Summary} "/>
                  <br/>
                  <apex:InputField value="{!Card.Summary_Quadrant3__c}" id="SummaryQ3" style="width:100%;resize:none;" onkeydown="BluronEnter('{!$Component.SummaryQ3}')"/>
                 
               </div>
               <br/>
               <div style="overflow: scroll; height: 200px;" class="pageblock">    
               <apex:pageBlock >          
               <apex:pageBlockTable value="{!mapQuadrant[$Label.ScoreCardQuadrant3]}" var="Wrapper">
                   <apex:column value="{!Wrapper.MasterName}" headerValue="{!$Label.JJ_SRM_ScoreCard_KPIName}" styleClass="ZeroBorder ThCSS" headerClass="Headerstyle"/>
                   <apex:column headerValue="{!$Label.JJ_SRM_ScoreCard_Select}" styleClass="ZeroBorder" headerClass="Headerstyle">
                   <apex:facet name="header">
                        <apex:outputpanel >
                        <apex:inputCheckbox rendered="{!DisplaySelectAllQ3}" id="Quadrant3checkAll" onclick="selectAllCheckboxes(this,'Quadrant3check')" styleClass="ZeroBorder3All" style="margin-right:10px;"/>
                        <apex:outputLabel rendered="{!DisplaySelectAllQ3}">{!$Label.JJ_SRM_ScoreCard_Select_All}</apex:outputLabel>
                        <apex:outputLabel rendered="{!IF(DisplaySelectAllQ3 = true,false,true)}">{!$Label.JJ_SRM_ScoreCard_Select}</apex:outputLabel>
                        </apex:outputpanel>
                    </apex:facet>
                       <apex:inputCheckbox id="Quadrant3check" styleClass="ZeroBorder3" value="{!Wrapper.SelectedKPI}"/>
                   </apex:column>

                   <apex:column headerValue="{!$Label.JJ_SRM_ScoreCard_RAG}" styleClass="ZeroBorder" headerClass="Headerstyle">
                   <apex:selectList value="{!Wrapper.selectedRAG}" multiselect="false" size="1" >
                            <apex:selectOptions value="{!Wrapper.RAGscore}"></apex:selectOptions>
                        </apex:selectList>   
                   </apex:column>
                   <apex:column headerValue="{!$Label.JJ_SRM_ScoreCard_Scores}" styleClass="ZeroBorder" headerClass="Headerstyle">
                   <apex:commandLink style="text-decoration: underline;" onclick="OpenPreviewPopUp('JJ_SRM_SupplierKPIScorePopup?name={!Wrapper.EncodedMasterName}');" value="View Scores" reRender="none"/>
                  </apex:column>
               </apex:pageBlockTable>
               </apex:pageBlock>
               </div>
               <br/>
                        <br/>
            </div>
            <div class="col-md-6 quad4">
               <div class="sub-heading">
                   <br/>
                  <apex:outputLabel value="{!$Label.ScoreCardQuadrant4}"/>
                  <div id="dvQ4" style="float:right;color:black">
                  <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_RAG} "/>&nbsp;
                  <apex:InputField value="{!Card.RAG_Quadrant_4__c}" id="RAGQ4"/>&nbsp;
                  </div>
               </div>
               <div class="summary-talign">
                  
               </div>
               <div class="summary-talign">
                  <apex:outputLabel value="{!$Label.JJ_SRM_ScoreCard_Summary} "/>
                  <br/>
                  <apex:InputField value="{!Card.Summary_Quadrant4__c}" id="SummaryQ4" style="width:100%;resize:none;" onkeydown="BluronEnter('{!$Component.SummaryQ4}')"/>
                 
               </div>
              <br/>
               <div style="overflow: scroll; height: 200px;" class="pageblock">    
               <apex:pageBlock >          
               <apex:pageBlockTable value="{!mapQuadrant[$Label.ScoreCardQuadrant4]}" var="Wrapper">
                   <apex:column value="{!Wrapper.MasterName}" headerValue="{!$Label.JJ_SRM_ScoreCard_KPIName}" styleClass="ZeroBorder ThCSS" headerClass="Headerstyle"/>
                   <apex:column headerValue="{!$Label.JJ_SRM_ScoreCard_Select}" styleClass="ZeroBorder" headerClass="Headerstyle">
                   <apex:facet name="header">
                        <apex:outputpanel >
                        <apex:inputCheckbox rendered="{!DisplaySelectAllQ4}" id="Quadrant4checkAll" onclick="selectAllCheckboxes(this,'Quadrant4check')" styleClass="ZeroBorder4All" style="margin-right:10px;"/>
                        <apex:outputLabel rendered="{!DisplaySelectAllQ4}">{!$Label.JJ_SRM_ScoreCard_Select_All}</apex:outputLabel>
                        <apex:outputLabel rendered="{!IF(DisplaySelectAllQ4 = true,false,true)}">{!$Label.JJ_SRM_ScoreCard_Select}</apex:outputLabel>
                        </apex:outputpanel>
                   </apex:facet>
                       <apex:inputCheckbox id="Quadrant4check" styleClass="ZeroBorder4" value="{!Wrapper.SelectedKPI}"/>
                   </apex:column>

                   <apex:column headerValue="{!$Label.JJ_SRM_ScoreCard_RAG}" styleClass="ZeroBorder" headerClass="Headerstyle">
                   <apex:selectList value="{!Wrapper.selectedRAG}" multiselect="false" size="1" >
                            <apex:selectOptions value="{!Wrapper.RAGscore}"></apex:selectOptions>
                        </apex:selectList>   
                   </apex:column>
                   <apex:column headerValue="{!$Label.JJ_SRM_ScoreCard_Scores}" styleClass="ZeroBorder" headerClass="Headerstyle">
                   <apex:commandLink style="text-decoration: underline;" onclick="OpenPreviewPopUp('JJ_SRM_SupplierKPIScorePopup?name={!Wrapper.EncodedMasterName}');" value="View Scores" reRender="none"/>
                   </apex:column>
               </apex:pageBlockTable>
               </apex:pageBlock>
               </div>
               <br/>
                        <br/>
            </div>
         </div>
      </div>
   </div>
   
                     <div align="center" draggable="false" >
                     <br/>
                     <apex:commandButton action="{!saveScoreCard}" id="SaveButton" onclick="scroll(0,0);" styleClass="btn" style="text-decoration:none;padding:4px;" value="Save" reRender="showmsgFrom,showmsgTo,showmsgTitle"/>
                     <apex:outputlink value="/{!AccountId}" styleClass="btn" style="text-decoration:none;padding:4px;" id="CancelButton">Cancel</apex:outputLink>  
   </div>
   </div>
   </body>
   </html>
   <Script>
   function selectAllCheckboxes(obj,receivedInputID){
            var inputCheckBox = $('input[id$="'+receivedInputID+'"]');
            var NumnberofKPItobe_checked = '{!$Label.JJ_SRM_MultiSelectLimit}';
            for(var i=0; i<NumnberofKPItobe_checked; i++){    
                    inputCheckBox[i].checked = obj.checked;
            }
        }
function setFocusOnLoad() {}
function BluronEnter(name){
var v = document.getElementById(name).value;
var res = v.split('\n');
if(res.length > 5){
document.getElementById(name).value = v.substring(0, v.lastIndexOf('\n'));
document.getElementById(name).blur();
alert('{!$Label.Error_Message_Enter_More_than_5_lines}')
}
}    
    function OpenPreviewPopUp(url)
    {
        var From = $('input[id$="CardForm"]').val();
        var To = $('input[id$="CardTo"]').val(); 
        var AccountId = '{!AccountId}' 
        if(From == ''){
        alert('{!$Label.From_Date_Error_Message_Scorecard}');
        }
        else if(To == ''){
        alert('{!$Label.To_Date_Error_Message_Scorecard}');
        }
        else{
        var finalurl = url + '&accountId='+ AccountId + '&Fromdate=' + From + '&ToDate=' + To;       
        var w = window.open(finalurl, target='_blank' ,'width=1000, height=500');
        }
        return null;      
    } 
    
</Script>
<Script>

    
    $('.ZeroBorder1').on('change', function(){  
       totalChecked = $('.ZeroBorder1:checked').length;
       totalChecked--;
       if(totalChecked == ('{!$Label.JJ_SRM_MultiSelectLimit}')) {
           alert('{!$Label.Number_of_KPI_on_ScoreCard_Error}');
           this.checked = false;
       }
    });
    
    $('.ZeroBorder2').on('change', function(){  
       totalChecked = $('.ZeroBorder2:checked').length;
       totalChecked--;
       if(totalChecked == '{!$Label.JJ_SRM_MultiSelectLimit}') {
           alert('{!$Label.Number_of_KPI_on_ScoreCard_Error}');
           this.checked = false;
       }
    });
      
    $('.ZeroBorder3').on('change', function(){  
       totalChecked = $('.ZeroBorder3:checked').length;
       totalChecked--;
       if(totalChecked == '{!$Label.JJ_SRM_MultiSelectLimit}') {
           alert('{!$Label.Number_of_KPI_on_ScoreCard_Error}');
           this.checked = false;
       }
    });
      
    $('.ZeroBorder4').on('change', function(){  
       totalChecked = $('.ZeroBorder4:checked').length;
       totalChecked--;
       if(totalChecked == '{!$Label.JJ_SRM_MultiSelectLimit}') {
           alert('{!$Label.Number_of_KPI_on_ScoreCard_Error}');
           this.checked = false;
       }
    });
</Script>
   </apex:form>
</apex:page>