<apex:page standardController="task" standardStylesheets="true" showHeader="false" sidebar="false" extensions="JJ_SRM_Task_EditCommentController">    
    <apex:form >
        <apex:pageBlock title="Edit Task Comments">
            <apex:pageBlockSection >
                <apex:inputfield value="{!taskRecord.Description}" style="width:450px;Height:150px;" /><br/>
                <apex:commandButton oncomplete="ClosePopup();" value="Save and Exit" action="{!AddComments}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>        
    </apex:form>
    <script>
        function ClosePopup(){
            window.opener.location.href = "/{!taskRecord.id}";
            window.close();
        }
        window.onblur = function() {
            window.close();
        };
    </script>
</apex:page>